- title "Sign Up"
- content_for :sidebar do
  %p
    Already have an account?
    %br
    = link_to 'Log in', login_path

%p
  Please fill-up the information below to sign up to
  %strong Revue
  service.

- form_for @user do |f|
  = f.error_messages
  %p
    = f.label :login
    %br
    = f.text_field :login
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :email, 'Email Address'
    %br
    = f.text_field :email
  %p
    = f.label :password
    %br
    = f.password_field :password
  %p
    = f.label :password_confirmation, "Confirm Password"
    %br
    = f.password_field :password_confirmation
  %p
    = f.submit "Sign up"
    or
    = link_to "Cancel", root_path
