- title "Sign Up"
- content_for :sidebar do
  %p
    Already have an account?
    %br
    = link_to 'Log in', login_path

%p
  Please fill-up the information below to sign up to
  %strong Revue
  service.

- labeled_form_for @user do |f|
  = f.error_message_on :base
  = f.text_field :login
  = f.text_field :name
  = f.text_field :email, :label => 'Email address'
  = f.password_field :password
  = f.password_field :password_confirmation, :label => 'Confirm password'
  %p
    = f.submit "Sign up"
    or
    = link_to "Cancel", root_path
