!!! 1.1
%html
  %head
    - title = yield :title
    - title = 'Revue' + (title ? " > #{title}" : '')
    %title= h title
    = stylesheet_link_tag 'reset-fonts-grids', 'application'
    = yield :head
  %body
    #doc3.yui-t5
      #hd
        %h1
          Revue
          - if show_title?
            %sub
              \-
              = h(yield(:title))

        #navigation
          = segmented_button('Home', root_path, :active, :left)
          = segmented_button('Code Reviews', root_path, :unactive, :right)

      #bd
        #yui-main
          .yui-b
            #content
              - flash.each do |name, msg|
                %div{:id => "flash_#{name}"}= h msg

              = yield

        .yui-b
          #sidebar
            = yield :sidebar

      #ft
        &copy; 2009 Zlaj