!!! 1.1
%html
  %head
    %title= h(yield(:title) || 'Untitled')
    = stylesheet_link_tag 'reset-fonts-grids', 'application'
    = yield :head
  %body
    #doc3.yui-t5
      #hd
        - if show_title?
          %h1= h(yield(:title))

      #bd
        #yui-main
          .yui-b
            #content
              - flash.each do |name, msg|
                %div{:id => "flash_#{name}"}= h msg

              = yield

        .yui-b
          #sidebar
            = yield :sidebar

      #ft
        &copy; 2009 Zlaj