!!! 1.1
%html
  %head
    - title = yield :title
    - title = 'Revue' + (title ? " > #{title}" : '')
    %title= h title
    = stylesheet_link_tag 'reset-fonts-grids', 'application'
    = yield :head
  %body
    #doc3.yui-t5
      #hd
        - if logged_in?
          #session-commands
            = link_to 'Logout', logout_path

        %h1
          Revue
          - if show_title?
            %sub
              \-
              = h(yield(:title))

        - if logged_in?
          #navigation
            = segmented_button('Home', root_path, :left, :home)
            = segmented_button('Code Reviews', code_reviews_path, :right, :code_reviews)
          #user-info
            = h(current_user.name.blank? ? current_user.login : current_user.name)

      #bd
        #yui-main
          .yui-b
            #content
              - flash.each do |name, msg|
                %div{:id => "flash_#{name}"}= h msg

              = yield

        .yui-b
          #sidebar
            = yield :sidebar

      #ft
        &copy; 2009 Zlaj